/** Définition des variables couleurs **/
:root {
  --couleur_fond: #dafffa;
  --fond_pur: #ffffff;
  --couleur_texte: #3d4746; 
  --couleur_titre: #556362;
  --couleur_fondClair: #7ea18f;
  --couleur_accent: #adc0b6;
  --couleur_bordures: #c0f0e8;
  --couleur_pictos: #ff0000;
}


/** Da CSS **/

body {
    font-family: Arial, sans-serif;
    background-color: var(--couleur_fond);
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    color: var(--couleur_texte)
}

.Principal {
  display: grid;
  grid-template-columns: 0.2fr 2.2fr 0.2fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Entete Entete Entete"
    ". Contenu ."
    "BasPage BasPage BasPage";
}

.Entete {
  grid-area: Entete;
  justify-self: center; 
  align-self: center;
  text-align: center;
}

.BasPage {
  grid-area: BasPage;
  justify-self: center; 
  align-self: center; 
  text-align: center;
}

.Contenu {
  grid-area: Contenu;
}

#formTirage {
  display: block;
  width: 60%;
  background-color: var(--fond_pur);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.participant-block-test {
  display: grid;
  background-color: #7ea18f;

  grid-template-columns: 55px 135px 55px 135px 55px 135px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px;
  gap: 10px;
  justify-items: center;

  height: 120px;
}

.participant-chute-test {
  display: grid;
  background-color: #56ffa8;

  grid-template-columns: 60px 540px;
  grid-template-rows: 60px 60px;
  grid-auto-flow: row;
  justify-items: center;

  height: 60px;
}

.participant-block-test .picto, .participant-chute-test .picto {
  background-color: #ccc;
  width: 60px;
  height: 60px;
}

.participant-block-test .picto img, .participant-chute-test .picto img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.participant-block-test .auteur {
  background-color: var(--couleur_bordures);
}

.participant-block-test .auteur > p {
  font-weight: 600;
}

.participant-block-test p.resultatTxt,
.participant-chute-test p.resultatTxt {
  text-align: left;
  margin: 0 auto;
  padding: 6px 0 0 8px;
}

h1 { color: var(--couleur_titre) }
h3 { text-align: center; }

label { margin-right: 20px; }

input, select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--couleur_bordures);
  border-radius: 4px;
}

#cartesUniques {
  margin-right: 10px;
  flex-direction: row;
}

.leChoix {
  height: 30px;
  padding: 10px;
}

.leChoixCSS {
  height: 30px;
  /*padding: 10px;*/
}

.leChoix .topCoolCheckbox,
.leChoixCSS .topCoolCheckbox {
  appearance: none;
  background-color: #86dedb;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.leChoix .topCoolCheckbox::before,
.leChoixCSS .topCoolCheckbox::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.leChoix .topCoolCheckbox,
.leChoix .topCoolCheckbox::after,
.leChoixCSS .topCoolCheckbox,
.leChoixCSS .topCoolCheckbox::after {
  transition: all 100ms ease-out;
}

.leChoix .topCoolCheckbox::after, 
.leChoixCSS .topCoolCheckbox::after {
  background-color: var(--fond_pur);
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.leChoix input[type=checkbox], 
.leChoixCSS input[type=checkbox] {
  cursor: default;
}

.leChoix .topCoolCheckbox:hover,
.leChoixCSS .topCoolCheckbox:hover {
  background-color: var(--couleur_bordures);
  transition-duration: 0s;
}

.leChoix .topCoolCheckbox:checked,
.leChoixCSS .topCoolCheckbox:checked {
  background-color: var(--couleur_fondClair);
}

.leChoix .topCoolCheckbox:checked::after,
.leChoixCSS .topCoolCheckbox:checked::after {
  background-color: var(--fond_pur);
  left: 13px;
}

.leChoix :focus:not(.focus-visible),
.leChoixCSS :focus:not(.focus-visible) {
  outline: 0;
}

.leChoix .topCoolCheckbox:checked:hover,
.leChoixCSS .topCoolCheckbox:checked:hover {
  background-color: var(--couleur_texte);
}

.leChoix .label, .leChoixCSS .label { height: 14px; }

#tirageBtn {
  background-color: var(--couleur_bordures);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pictos {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.picto {
  width: 64px;
  height: 64px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#reboot, #goMail {
  margin: 10px auto;
  display: none;
}

/* Style pour les champs de saisie des prénoms */
.prenom-input {
  margin: 5px;
  padding: 5px;
}

#result {
  display: none;
  width: 80%;
  margin: 0 auto; /* Centre horizontalement */
}

.participant-block { text-align: center; }

#leParticipant { text-transform: capitalize; }

table {
  width: 100%; /* Remplit la largeur de la div parente */
  border-collapse: collapse; /* Supprime les espaces entre les cellules */
}

th, td {
  padding: 10px; /* Ajoute un espace autour du contenu des cellules */
  border: 1px solid #ddd; /* Ajoute une bordure légère entre les cellules */
}

.celTab {
  width: 34%;
  word-wrap: break-word;  
  text-align: left;
  padding-left: 10px;
}

.celPicto { width: 40px; }

.celPicto img {
  width: 32px;
  height: 32px;
  cursor: help;
}

.celParticipant {
  background-color: var(--couleur_bordures);
  text-transform: capitalize;
}

.celChute { background-color: var(--couleur_accent); }

/** Responsiverie **/

@media(min-width: 768px) and (max-width: 1388px) {
  /** Tablette **/
  .Principal {
    width: 100%;
    padding: 0;
  }
  
  #formTirage {
    margin-top: 16vh;
  }
}

@media(max-width: 767px) {
  /** Phone **/

  .Principal {
    width: 100%;
    padding: 0;
    grid-template-areas:
    "Entete"
    "Contenu"
    "BasPage";
    grid-template-columns: 2.6fr;
  }
  
  #formTirage {
    margin-top: 10vh;
    width: 80%;
  }
}


/*
   _____ _______ _____   _____    
  / ____|__   __/ ____| |  __ \   
 | |  __   | | | |      | |__) |  
 | | |_ |  | | | |      |  _  /   
 | |__| |_ | |_| |____ _| | \ \ _ 
  \_____(_)|_(_)\_____(_)_|  \_(_)
    Générateur de Tirages de Cartes à Raconter©™®                            
                                  
Version 0.8d — Avril 2025
Créé par Vincent Corlaix avec de gros coups de main de ChatGPT 3.5
Github du projet : https://github.com/Nootilus/Cartes_a_Raconter

Fichier : univers_clair.css

*/